@{
    <link href="@Url.Content("~/Assets/Styles/OtpVerification.css")" rel="stylesheet" type="text/css" />
}

    <div class="container">
        <h1>Hello there!</h1>
        <p class="subtitle">Login to access your personal account</p>

        <label class="otp-label">OTP</label>

        <div class="otp-boxes">
            <input maxlength="1" />
            <input maxlength="1" />
            <input maxlength="1" />
            <input maxlength="1" />
            <input maxlength="1" />
            <input maxlength="1" />
        </div>

        <p class="resend">Didn't receive the OTP yet? <a href="#">Resend</a></p>

        <button class="submit-btn">Submit OTP</button>
    </div>


