

#wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #eaf5ff;
    overflow: hidden;
}

/* --- Top curve --- */

#top-oval {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    /*background: yellow;*/
    background: #eaf5ff;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    z-index: 2;
}



.dotted-top {
    position: relative;
    bottom: 25px;
    left: 150px;
    border-bottom: 3px dotted #9bb9ff;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    width: 400px;
    transform: rotate(2deg);
    border-radius:5%;
}
.top-oval-content {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #c9a24a;
    right: 175px;
    top: 50px;
    padding: 15px 50px;
    border-radius: 15px;
    text-align: center;
    background-color: #fff6d6;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
    .top-oval-content  h2 {
        color: #b58b00; 
        font-size: 32px;
        font-weight: 700;
        margin: 0;
    }

    .top-oval-content p {
        color: #b58b00; 
        font-size: 16px;
        margin: 3px 0 0;
        font-weight: 500;
    }


/* --- Bottom curve --- */
#bottom-oval {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    /*background:yellow;*/
    background: #eaf5ff;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    z-index: 2;
}
.dotted-bottom {
    position: relative;
    bottom: 60px;
    right: 150px;
    border-bottom: 3px dotted #9bb9ff;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    width: 400px;
    transform: rotate(2deg);
}
.bottom-oval-content {
    position: relative;
    left: 175px;
    bottom: 50px;
    display: flex;
    border: 1px solid #c9a24a;
    flex-direction: column;
    padding: 15px 35px;
    border-radius: 15px;
    text-align: center;
    background-color: #fff6d6;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.bottom-oval-content h2 {
    color: #b58b00;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.bottom-oval-content p {
    color: #b58b00;
    font-size: 16px;
    margin: 3px 0 0;
    font-weight: 500;
}
#strip-w {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.strip-track {
    display: flex;
    animation: moveLeft 10s cubic-bezier(0, 0, 0.01, 1) infinite;
}

.strip-item {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin-right: 10px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

    .strip-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
