

#wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #eaf5ff;
    overflow: hidden;
}

/* --- Top curve --- */
#top-oval {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    background: #eaf5ff;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    z-index: 2;
}

/* --- Bottom curve --- */
#bottom-oval {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    background: #eaf5ff;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    z-index: 2;
}

#strip-w {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.strip-track {
    display: flex;
    animation: moveLeft 25s cubic-bezier(0.4, 0, 1, 1) infinite;
}

.strip-item {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin-right: 10px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

    .strip-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
