
.container-fluid {
    display: flex;
    height: 100vh;
}

/* -------------------------
   LEFT SIDE
-------------------------- */

.left {
    width: 50%;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-box {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: #e6e6e6;
    margin: 0px auto;
}

.title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
    margin-top:30px;
}

.semi-circle {
    width: 100%;
    height: 300px;
    background: blue;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    clip-path: ellipse(50% 100% at 50% 100%);
    position:relative;
    top:100px;
}


.characters {
    width: 90%;
}
.stats {
    display: flex;
    justify-content: center;
}
/*.stat-card1 {
    position:relative;
    right:200px;
    bottom:80px;
    border: 1px solid #c9a24a;
    padding: 10px 50px;
    border-radius: 15px;
    text-align: center;
    background-color: #fff6d6;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


.stat-card {
    background: #fff;
    padding: 8px 18px;
    border-radius: 12px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
*/
    .stat-card .big {
        font-weight: 700;
        font-size: 16px;
    }

/* -------------------------
   RIGHT SIDE
-------------------------- */

.right {
    flex: 1;
    background: #0d3b91;
    background-image: linear-gradient(#0d3b91 1px, transparent 1px), linear-gradient(90deg, #0d3b91 1px, transparent 1px);
    background-size: 40px 40px;
    background-color: #0d47a1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 40px;
}


.hello {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 8px;
}

.sub {
    font-size: 15px;
    margin-bottom: 50px;
    opacity: 0.9;
}

.label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

/* PHONE INPUT BOX */
.phone-box {
    display: flex;
    align-items: center;
    width: 330px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    gap:3px;
    background:transparent;
}
.image-box {
    width: 60px;
    height: 47px;
    border-radius: 5px;
    background-color: red;
}


.phone-box input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

/* OTP BUTTON */
.otp-btn {
    width: 330px;
    margin-top: 28px;
    padding: 10px 70px;
    background: #ffffff;
    color: #0d4a9c;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .container-fluid {
        flex-direction: column;
    }

    .left, .right {
        flex: none;
        width: 100%;
    }

    .characters {
        width: 250px;
    }
}
